.feedbackOptions {
    margin-top: 20px;
}

.feedbackOptionslist {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.feedbackBtn {
    width: 90px;
    padding: 4px;
    color: black;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    transition: transform 500ms ease-in-out;
}

.feedbackBtn:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.good {
    composes: feedbackBtn;
    background-color: green;
}

.neutral {
    composes: feedbackBtn;
    background-color: yellow;
}

.bad {
    composes: feedbackBtn;
    background-color: red;
}